#mainheader{
    text-align:center;
    color:white;
    background-color:black;
    font-family:cursive,"Brush Script MT", sans-serif;
    font-size:50px;
    margin:16px auto;
    width:700px;
    height:auto;
    border:10px solid lightgray;
}

#mainheader,
#listheader {
    font-family:cursive,"Brush Script MT", sans-serif;
}

#listheader{
    font-size:30px;
    margin: 16px auto;
    background-color: lightslategray;
    padding: 10px;
    width: 200px;
    height:auto;
    text-align:center;
    border: 3px solid lightgray;
    color: white;
    
    
}

.listdiv{
    text-align:center;
}

.list{
    display:block;
    margin: 16px auto;
    width:200;
    padding:10px;
    text-align:center;

}

ul{
    text-align:left;
    list-style-type:none;
}

li{
    width:200;
    height:auto;
    font-size: 40px;
    background-color: lightslategray;
    padding: 30px;
    margin: 20px;
    border: 5px solid lightgray;
}

.body{
    background-color: lightblue;
}